*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: blueviolet;
    color: black;
    padding: 10%;
    margin: 15%;
}
#welcomeTheUsar button{
background-color: red;
color: white;
}
